@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.App {
  display: flex;
  margin: 100px;
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
  padding: 5px;
  height: 500px;
}
.description {
  flex: 1;
  padding: 10px;
  border-right: 1px solid gray;
}

.calendar {
  flex: 1;
  padding: 10px;
}
.hours {
  flex: 1;
  overflow-y: scroll;
  padding: 10px;
}

* {
  font-family: "Roboto", sans-serif;
}
